@charset "UTF-8";

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

:root {
    --cor-cinza: #455A64;
    --cor-azul-escuro: #0066D1;
    --cor-azul-claro: #00A3FD;
    --cor-azul-claro-fundo: #D9EBFC;
    --cor-vermelho: #D50054;
    --cor-azul-fonte: #0063CF;
    --cor-linha-tabela: #EDFAFF;
    --cor-borda-tabela: #9CE4FF;
    --cor-azul-bem-claro: #b2e4f1;
    --cor-rosa-claro: #f181ef96;
    --cor-rosa-escuro: #f109ec;
    
    --fonte-titulo: 'Times New Roman', 'Times, serif';
    --fonte-padrao: 'Rubik', 'Arial, Verdana', 'Helvetica', 'sans-serif';
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor-azul-claro-fundo);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor-azul-escuro), var(--cor-azul-claro));
    min-height: 120px;
    padding: 1px;
    display: flex;
    align-items: center;
    /* Distribui os elementos horizontalmente */
    justify-content: space-between;
}

header img {
    padding-left: 80px;
}

#titulo {
    /* Permite que a div cresça e ocupe o espaço restante */
    flex-grow: 1;
}

header h1 {
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    margin-left: 470px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}

nav {
    background-color: var(--cor-azul-escuro);
    padding: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

.botao {
    color: white;
    background-color: var(--cor-vermelho);
    padding: 8px 15px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.483);
    text-decoration: none;
    /* Muda o ponteiro do mouse ao passar encima */
    cursor: pointer;
}

.botao:hover {
    color: var(--cor-azul-claro);
    background-color: var(--cor-azul-claro-fundo);
    text-decoration: none;
}
#grafico{
    width: 500px;
    height: 500px;
}

canvas{
    width: 500px;
    height: 500px;
}

footer {
    color: white;
    background-color: var(--cor-azul-escuro);
    display: flex;
    align-items: center;
    /* Distribui os elementos horizontalmente */
    justify-content: space-between;
    height: 200px;
}

footer h2 {
    color: var(--cor-azul-claro);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
}

footer p {
    font-size: 1em;
}

.rodape {
    margin: 0px 70px;
}

footer ul {
    /* Emoji antes da lista (Emojipedia) (00A0 = espaço) */
    list-style-type: '\2714\00A0\00A0';
    /* Bolinha da lista pro lado de dentro */
    list-style-position: inside;
    columns: 2;
}