@charset "UTF-8";

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

:root {
    --cor-cinza: #455A64;
    --cor-azul-escuro: #0066D1;
    --cor-azul-claro: #00A3FD;
    --cor-azul-claro-fundo: #D9EBFC;
    --cor-vermelho: #D50054;
    --cor-azul-fonte: #0063CF;
    --cor-linha-tabela: #EDFAFF;
    --cor-borda-tabela: #9CE4FF;
    --cor-azul-bem-claro: #b2e4f1;
    --cor-rosa-claro: #f181ef96;
    --cor-rosa-escuro: #f109ec;
    
    --fonte-titulo: 'Times New Roman', 'Times, serif';
    --fonte-padrao: 'Rubik', 'Arial, Verdana', 'Helvetica', 'sans-serif';
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor-azul-claro-fundo);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor-azul-escuro), var(--cor-azul-claro));
    min-height: 120px;
    padding: 1px;
    display: flex;
    align-items: center;
    /* Distribui os elementos horizontalmente */
    justify-content: space-between;
}

header img {
    padding-left: 80px;
}

#titulo {
    /* Permite que a div cresça e ocupe o espaço restante */
    flex-grow: 1;
}

header h1 {
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}

header h3 {
    color: white;
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 1.6em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}

.botao {
    color: white;
    background-color: var(--cor-vermelho);
    padding: 8px 15px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.483);
    text-decoration: none;
    /* Muda o ponteiro do mouse ao passar encima */
    cursor: pointer;
    border: none;
}

.botao:hover {
    color: var(--cor-azul-claro);
    background-color: var(--cor-azul-claro-fundo);
    text-decoration: none;
}

nav {
    background-color: var(--cor-azul-escuro);
    padding: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

#dialog-login,
#dialog-cadastro {
    height: 375px;
    width: 445px;
    padding: 20px;
    margin: auto;
    background-color: var(--cor-azul-claro-fundo);
    border: 1px solid var(--cor-azul-escuro);
    border-radius: 10px;
}

.alinhamento-dialog {
    display: flex;
    justify-content: space-between;
}

#dialog-login h1,
#dialog-cadastro h1 {
    text-align: center;
    color: var(--cor-azul-fonte);
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 40px;
}

.botao-fechar-dialog {
    height: 27px;
    width: 27px;
    font-size: 18px;
    background-color: var(--cor-azul-claro);
    border-radius: 5px;
    border: none;
}

.input-field-dialog {
    height: 44px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin:25px 0px;
}

.icone-input {
    background-color: var(--cor-azul-claro);
    padding: 8px 25px 8px 12px;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-dialog {
    height: 100%;
    width: 100%;
    padding: 16px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Retira a borda ao clicar */
.input-dialog:focus {
    outline: none;
}

.botao-dialog {
    background-color: var(--cor-azul-claro);
    padding: 8px 90px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.483);
    text-decoration: none;
    /* Muda o ponteiro do mouse ao passar encima */
    cursor: pointer;
    margin-top: 55px;
    border: none;
}

.botao-dialog:hover {
    color: white;
    background-color: var(--cor-vermelho);
    text-decoration: none;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1500px;
    padding-top: 25px;
    padding-bottom: 40px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.483);
}

main > div > h2 {
    color: var(--cor-azul-escuro);
    font-size: 1.6em;
    font-weight: bold;
    text-indent: 30px;
    padding: 25px 50px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.548);
    margin: 0px;
}

main > div > p {
    font-size: 1em;
    text-indent: 30px;
    text-align: justify;
    /* Espaçamento entre linhas */
    line-height: 2em;
    padding: 5px 50px;
    margin: 0px;
}

#imagem-calculo-imc {
    margin: 20px 70px;
}

#imagem-medicina {
    margin: 20px 110px;
}

#importancia-imc {
    color: white;
    background-image: linear-gradient(to bottom, var(--cor-azul-escuro), var(--cor-azul-claro));
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#texto-importancia-imc {
    height: 530px;
    width: 830px;
}

#texto-importancia-imc > h2 {
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
    font-weight: bold;
    margin: 25px 5px 35px 175px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.548);
}

#texto-importancia-imc > p {
    font-size: 1.1em;
    font-family: var(--fonte-padrao);
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    margin: 25px 170px 25px 10px;
}

.alinhamento-centro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculadora-imc {
    color: black;
    background-color: white;
    border-radius: 10px;
    height: 530px;
    width: 400px;
    padding: 15px;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.363);
}

.label-calculadora {
    font-weight: bold;
    margin-left: 10px;
}

.input-field-calculadora {
    height: 50px;
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 0px 10px 25px 10px;
}

.input-field-calculadora i, 
.input-field-calculadora span {
    font-size: 18px;
    padding: 20px;
}

.input-calculadora {
    height: 100%;
    width: 100%;
    padding: 16px;
    border: none;
}

/* Retira a borda ao clicar */
.input-calculadora:focus {
    outline: none;
}

#botao-masculino-calculadora {
    height: 46px;
    width: 160px;
    background-color: var(--cor-azul-bem-claro);
    margin: 0px 10px 30px 10px;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    /* Alinha os elementos na horizontal */
    display: flex;
    /* Alinha os elementos na vertical */
    align-items: center;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.483);
}

#botao-masculino-calculadora > i {
    font-size: 23px;
    padding: 0px 18px;
    color: var(--cor-azul-claro);
}

#botao-feminino-calculadora {
    height: 46px;
    width: 160px;
    background-color: var(--cor-rosa-claro);
    margin: 0px 10px 30px 10px;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    /* Alinha os elementos na horizontal */
    display: flex;
    /* Alinha os elementos na vertical */
    align-items: center;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.483);
}

#botao-feminino-calculadora > i {
    font-size: 23px;
    padding: 0px 18px;
    color: var(--cor-rosa-escuro);
}

#botao-calcular-calculadora {
    height: 46px;
    width: 345px;
    color: white;
    background-color: var(--cor-vermelho);
    font-weight: bold;
    margin: 10px;
    border-radius: 4px;
    border: 0px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.483);
    /* Muda o ponteiro do mouse ao passar encima */
    cursor: pointer;
}

#botao-calcular-calculadora:hover {
    color: var(--cor-azul-claro);
    background-color: var(--cor-azul-claro-fundo);
    text-decoration: none;
}

.hidden {
    display: none;
}

#conteiner-resultados {
    color: white;
    background-color: var(--cor-cinza);
    height: 600px;
    padding: 50px;
    margin-bottom: 20px;
}

#conteiner-resultados img {
    height: 60px;
}

#resultados {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resultados div {
    height: 110px;
    width: 240px;
    background-color: white;
    border-radius: 10px;
    margin: 10px 50px;
}

#resultados p {
    color: black;
}


.tabela-classificacao-imc {
    width: 500px;
    /* Tira os espaços entre linhas */
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid var(--cor-borda-tabela);
    margin: 40px 77px 40px -45px;
}

.tabela-classificacao-imc tr.cabecalho-tabela {
    font-weight: bold;
}

.tabela-classificacao-imc tr.linha-azul {
    background-color: var(--cor-linha-tabela);
}

.tabela-classificacao-imc td {
    padding: 10px;
}

footer {
    color: white;
    background-color: var(--cor-azul-escuro);
    display: flex;
    align-items: center;
    /* Distribui os elementos horizontalmente */
    justify-content: space-between;
    height: 170px;
}

footer h2 {
    color: var(--cor-azul-claro);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
}

footer p {
    font-size: 1em;
}

.rodape {
    margin: 0px 70px;
}

footer ul {
    /* Emoji antes da lista (Emojipedia) (00A0 = espaço) */
    list-style-type: '\2714\00A0\00A0';
    /* Bolinha da lista pro lado de dentro */
    list-style-position: inside;
    columns: 2;
}
