/* estilo/cadastrar.css */

@charset "UTF-8";

:root {
    --corCinza: #455A64;
    --corAzulEscuro: #0066D1;
    --corAzulClaro: #00A3FD;
    --corAzulClaroFundo: #D9EBFC;
    --corVermelho: #D50054;
    --corAzulFonte: #0063CF;

    --fonteTitulo: 'Times New Roman', 'Times, serif';
    --fontePadrao: 'Arial, Verdana', 'Helvetica', 'sans-serif';
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--corAzulClaroFundo);
    font-family: var(--fontePadrao);
}

header {
    background-image: linear-gradient(to bottom, var(--corAzulEscuro), var(--corAzulClaro));
    min-height: 120px;
    padding: 1px;
    display: flex;
    align-items: center;
    /* Distribui os elementos horizontalmente */
    justify-content: center;
}

/* estilo/cadastrar.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

#titulo {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}

#titulo h1 {
    margin: 0;
}

section {
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}