@charset "UTF-8";

:root {
    --corCinza: #455A64;
    --corAzulEscuro: #0066D1;
    --corAzulClaro: #00A3FD;
    --corAzulClaroFundo: #D9EBFC;
    --corVermelho: #D50054;
    --corAzulFonte: #0063CF;

    --fonteTitulo: 'Times New Roman', 'Times, serif';
    --fontePadrao: 'Arial, Verdana', 'Helvetica', 'sans-serif';
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--corAzulClaroFundo);
    font-family: var(--fontePadrao);
}

header {
    background-image: linear-gradient(to bottom, var(--corAzulEscuro), var(--corAzulClaro));
    min-height: 120px;
    padding: 1px;
    display: flex;
    align-items: center;
    /* Distribui os elementos horizontalmente */
    justify-content: space-between;
}

header img {
    padding-left: 80px;
}

#titulo {
    /* Permite que a div cresça e ocupe o espaço restante */
    flex-grow: 1;
}

header h1 {
    color: white;
    font-family: var(--fonteTitulo);
    font-size: 3em;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}

header p {
    color: white;
    font-family: var(--fonteTitulo);
    text-align: center;
    font-size: 1.6em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}

.botao {
    color: white;
    background-color: var(--corVermelho);
    padding: 5px 15px;
    margin: 15px;
    border-radius: 10px;
    /* Muda o ponteiro do mouse ao passar encima */
    cursor: pointer;
}

nav {
    background-color: var(--corAzulEscuro);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

nav > a {
    color: var(--corAzulClaroFundo);
    font-size: 1.1em;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

nav > a:hover {
    color: var(--corAzulClaro);
    background-color: var(--corAzulClaroFundo);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.483);
}

main h2 {
    color: var(--corAzulEscuro);
    font-size: 1.5em;
    font-weight: bold;
    text-indent: 30px;
    padding: 30px;
    margin: 0px;
}

main p {
    font-size: 1em;
    text-indent: 30px;
    text-align: justify;
    /* Espaçamento entre linhas */
    line-height: 2em;
    padding: 0px 30px;
    margin: 0px;
}

main img {
    padding: 30px;
    margin-left: 25px;
}

#importanciaIMC {
    color: white;
    background-image: linear-gradient(to bottom, var(--corAzulEscuro), var(--corAzulClaro));
    min-width: 300px;
    max-width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#importanciaIMC h2 {
    color: white;
    font-weight: bold;
    margin: 10px;
    text-indent: 20px;
}

#textoImportanciaIMC {
    width: 400px;
}

#calculadoraIMC {
    background-color: white;
    border-radius: 16px;
    max-width: 432px;
    height: 300px;
}

#resultadoIMC {
    color: white;
    background-color: var(--corCinza);
}

#resultadoIMC h2 {
    color: var(--corAzulClaro);
}

footer {
    color: white;
    background-color: var(--corAzulEscuro);
    font-size: 1em;
    padding: 5px;
    display: flex;
    align-items: center;
    /* Distribui os elementos horizontalmente */
    justify-content: space-between;
    height: 250px;
}

footer h2 {
    color: var(--corAzulClaro);
    margin-left: 40px;
    margin-right: 40px;
}

footer p {
    margin-left: 40px;
    margin-right: 40px;
}


